$main-color: forestgreen;
$background: #fafafa;
$type-color: #333;
$black: #212121;
$red: #ef5254;

// margin variables
$quarter-x: 2px;
$half-x: 4px;
$three-quarters-x: 6px;
$x: 8px;
$x-and-a-half: 12px;
$x-2: 16px;
$x2-and-a-half: 20px;
$x-3: 24px;